#rythmicGame {
  text-align: center;
  position: relative;
  
  #start {
    position: absolute;
    height: 50px;
    width: 100px;
    top: 50%;
    left: 50%;
    background: #000;
    color: #fff;
    margin-left: -50px;
    margin-top: -25px;
    font-size: 1.2em;
    font-family: monospace;
  }
}
canvas {
  border: 1px solid red;
  margin: 0 auto;
  width: 480px;
}