<link rel="stylesheet" href="css/notation.css"/>
<body>
    <div>
        <div id="questions">
            <vextab class="vex-tabdiv"
                    width=680 scale=1.5 editor="true"
                    editor_width=680 editor_height=330 notes-string="{{randomNotes}}">
            </vextab>
        </div>
        <div id="answers">
            <form>
                Odpowiedzi:<br>
                <input class="notationIn" type="text" ng-model="notationInput1" name="answer" ng-class="{ 'correct' : correctA[0] == 1, 'incorrect' : correctA[0] == 0, 'notAnswered' : correctA[0] == -1}">
                <input class="notationIn" type="text" ng-model="notationInput2" name="answer"  ng-class="{ 'correct' : correctA[1] == 1, 'incorrect' : correctA[1] == 0, 'notAnswered' : correctA[1] == -1}">
                <input class="notationIn" type="text" ng-model="notationInput3" name="answer"  ng-class="{ 'correct' : correctA[2] == 1, 'incorrect' : correctA[2] == 0, 'notAnswered' : correctA[2] == -1}">

            </form>
        </div>
    </div>
    <div style="text-align: center; padding: 20px">
        <div id="checkButton" ng-class="{ 'redCheckButton' : correctAnswer == -1,'greenCheckButton':correctAnswer == 1 }" class="checkButton" ng-click="check()">{{text}}<br></div>
    </div>

</body>


